@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --cinvalid: #edafb8ff;
    --cfg: rgb(39, 43, 44);
    --cbg: rgb(240, 238, 231);
    --cbg-lighter: rgb(250, 248, 241);
    --cbg-alt: rgb(39, 43, 44);
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-top: 4rem;
}

.page {
    display: none;
}

.page-shown {
    display: block;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2;
}

.popup-content {
    background-color: var(--cbg-lighter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--box-shadow);
    min-width: 50%;
    min-height: 25%;
    padding: 1rem;
    border-radius: 1rem;
}

.popup-content h2 {
    text-align: center;
    margin: 1rem 0;
}

#popup-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.popup #close-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    box-shadow: var(--box-shadow);
}

.navbar-list {
    display: flex;
    color: var(--cfg);
    padding: 0.5rem 1rem;
}

.navbar-list li {
    list-style: none;
    flex-direction: row;
}

.navbar-list a {
    color: var(--cfg);
    text-decoration: none;
    border: var(--cbg-alt) 0.1rem solid;
    border-radius: 1rem;
    margin: 0.5rem 1rem;
    padding: 0.25rem 1rem;

    transition: color .3s ease-in-out, box-shadow .3s ease-in-out, max-height .2s ease-out;
    box-shadow: inset 0 0 0 0 var(--cbg);
}

.navbar-list a:hover {
    box-shadow: inset 200px 0 0 0 var(--cbg-alt);
    color: var(--cbg);
    background-color: var(--cbg-alt);
}


.navbar .menu-icon {
    cursor: pointer;
    display: none;
    user-select: none;
    z-index: 4;
    padding: 1rem;
}

.navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: all .2s ease-out;
    width: 1rem;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar .menu-icon .navicon:before {
    top: 5px;
}

.navbar .menu-icon .navicon:after {
    top: -5px;
}

.navbar .menu-btn {
    display: none;
}

@media (max-width: 1023px) {
    .navbar-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        z-index: 3;
        transition: all 0.2s ease-in-out;
        background-color: var(--cbg-alt);
    }

    .navbar li {
        width: 80%;
        margin-bottom: 1rem;
    }

    .navbar-list li a {
        display: block;
        width: 100%;
        margin: 0;
        padding: 2rem;
        color: var(--cbg);
        border: var(--cbg) .1rem solid;
    }


    .navbar .menu-icon {
        display: inline-block;
    }

    .navbar .menu-btn:checked~.navbar-list {
        right: 0;
    }

    .navbar .menu-btn:checked~.navbar-list a:hover {
        box-shadow: inset 1023px 0 0 0 var(--cbg-alt);
    }


    .navbar .menu-btn:checked~.menu-icon .navicon {
        background: transparent;
    }

    .navbar .menu-btn:checked~.menu-icon .navicon:before {
        transform: rotate(-45deg);

    }

    .navbar .menu-btn:checked~.menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
    .navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
        background-color: var(--cbg);
        top: 0;
    }
}


.page-title-header h1 {
    padding: 1.5rem;
    text-align: center;
    font-weight: 400;

}

.jumbotron {
    /* Create the parallax scrolling effect */
    background: rgba(0, 0, 0, 0.3) url(../images/james-harrison-vpOeXr5wmR4-unsplash.jpg) no-repeat fixed center;
    background-size: cover;
    background-blend-mode: darken;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-article {
    background-color: var(--cbg);
    padding: 3rem 2rem;
    border-radius: 1rem;
    width: 50%;
    box-shadow: var(--box-shadow);
}

.main-heading {
    font-size: 2.5rem;
}


.card-hr {
    border: 0;
    height: 2px;
    width: 100%;
    margin: 1rem 0;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.articles-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 55%;
    margin: 0 auto;
    padding: 2rem;
}

.articles-section a {
    text-decoration: none;
    color: #0074d9;
}

.articles-section ul>li>ul {
    list-style: none;
}

.articles-section ul {
    margin-top: 1rem;
}

.secondary-article {
    width: 100%;
    background-color: var(--cbg);
    margin: 2rem 0;
    padding: 3rem 2rem;

    box-shadow: var(--box-shadow);
    border-radius: 1rem;
}

.secondary-article h2 {
    margin-bottom: 1rem;
}

.secondary-article li {
    margin-left: 1rem;

}

.header-icon {
    margin-right: 1rem;
}

.page-footer {
    padding: 6rem 1rem;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--cbg-alt);
    color: var(--cbg-lighter);
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media-links {
    display: flex;
    justify-content: center;
}

.social-media-links li {
    list-style: none;
    margin: 0 1rem;
    font-size: 3rem;
    color: var(--cbg-lighter);
}

.social-media-links li a {
    color: var(--cbg-lighter);
}

.footer-navbar {
    margin-left: 2rem;
    display: flex;
}

.footer-navbar li {
    list-style: none;
    margin: 0 1rem;
}

.footer-navbar a {
    display: block;
    color: var(--cbg-lighter);
    text-decoration: none;
    text-align: center;
}

.copyright-info {
    width: 100%;
    margin-top: 3rem;
    text-align: center;
}

.contact-form-wrapper {
    flex: 1;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cbg);

    margin: 0 auto;
    padding: 2rem 2rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: var(--box-shadow);
}

.contact-form-wrapper h2 {
    margin-top: 1rem;
}

.contact-form {
    display: block;
    margin-top: 2rem;
}


.contact-form .form-element {
    display: block;
    width: 100%;
    padding: 1rem;
    margin: auto;
}

.contact-form .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.contact-form .form-group .icon {
    position: absolute;
}

.contact-form .form-label {
    display: block;
    text-align: center;
}

.contact-form .icon {
    min-width: 50px;
    text-align: center;
}

.contact-form input[type=text],
.contact-form input[type=email] {
    border-radius: 1rem;
    padding: 1rem 1rem 1rem 3rem;
}

.field-invalid {
    border: 2px solid var(--cinvalid);
}

.contact-form textarea {
    height: 200px;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.form-submit-button {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--cbg);
    width: 100%;
}

.form-submit-button:hover {
    text-shadow: none;
    box-shadow: inset 200px 0 0 0 var(--cbg-alt);
    color: var(--cbg);
    background-color: var(--cbg-alt);
    cursor: pointer;
}

.contact-section {
    display: flex;
    margin: 2rem auto;
    width: 80%;
}

.contact-section .image-container {
    flex: 1;
    height: auto;
    background-image: url(../images/contact.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    border-radius: 0 1rem 1rem 0;
}

.contact-section .image-container img {
    max-width: 100%;
    height: auto;
}


.tutorial-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url(../images/florian-klauer-mk7D-4UCfmg-unsplash.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tutorial-section {
    background-color: rgb(240, 238, 231, 0.95);
    padding: 3rem 2rem;
    border-radius: 1rem;
    width: 65%;
    box-shadow: var(--box-shadow);
}


.cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    row-gap: 2rem;
    margin-top: 2rem;
}


.tutorial-card {
    display: flex;
    border: 2px solid var(--cbg-alt);
    border-radius: 1rem;
    padding: 1rem 1rem;
    height: 100%;
}

.tutorial-card-image {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
    align-self: center;
}

.tutorial-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tutorial-download {
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--cbg-alt);
    background-color: var(--cbg);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    box-shadow: inset 0 0 0 0 var(--cbg);
    color: var(--cbg-alt);
    text-decoration: none;
    text-align: center;
    width: 7rem;
    margin-top: 1rem;

}

.tutorial-download:hover {
    text-shadow: none;

    box-shadow: inset 200px 0 0 0 var(--cbg-alt);
    color: var(--cbg);
    background-color: var(--cbg-alt);
    cursor: pointer;

}

@media (max-width: 767px) {
    .popup-content {
        min-width: 90%;
        min-height: auto;
    }

    .navbar {
        font-size: 1rem;
    }

    .main-article {
        min-width: 95%;
        font-size: 1rem;
    }


    .tutorial-section {
        width: 100%;
        max-width: 95%;
        background-color: var(--cbg);
    }

    .main-heading {
        font-size: 2rem;
    }

    .cards-container {
        grid-template-columns: 1fr;
    }

    .tutorial-section-container {
        height: auto;
        padding: 2rem 0;
    }

    .tutorial-card-image {
        height: 2rem;
        width: 2rem;

    }

    .contact-section {
        width: 95%;
    }

    .contact-section .image-container {
        display: none;
    }

    .contact-form-wrapper {
        border-radius: 1rem
    }

    .articles-section {
        width: 95%;
        min-width: 95%;
        max-width: 100%;
        padding: 1rem;
        /* margin: 0; */
    }

    .secondary-article {
        min-width: 95%;
        margin: 1rem 3rem;
    }

    .jumbotron,
    .tutorial-section-container {
        background-attachment: inherit;
    }

    .footer-navbar {
        flex-direction: column;
        margin: 0 auto;
        padding: 0;
    }

    .footer-navbar li {
        margin-bottom: 0.5rem;
        margin-left: 0;
        width: 100%;
        /* background-color: red; */
    }

    .footer-navbar li a {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .main-article {
        min-width: 75%;
    }

    .secondary-article {
        min-width: 75%;
    }

    .tutorial-section {
        width: auto;
        max-width: 95%;
    }

    .contact-section {
        width: 95%;
    }

    .articles-section {
        width: auto;
        max-width: 75%;
        padding: 0.5rem;
    }
}